.Flagrow-AffiliationLinks-Rules-Container {
    border-radius: @border-radius;
    padding: 20px;
    margin-bottom: 20px;
    background: @body-bg;
}

.Flagrow-AffiliationLinks-Rule-Box {
    position: relative;
    padding: 10px 0;
    padding-left: 50px;
    margin: 10px 0;
    border-left: 5px solid #eee;
}

.Flagrow-AffiliationLinks-Rule-Header {
    text-align: left;
    display: flex;
}

.Flagrow-AffiliationLinks-Rule-Header-Title {
    flex-grow: 1;
}

.Flagrow-AffiliationLinks-Rule-Box--handle {
    position: absolute;
    top: 15px;
    left: 10px;
    cursor: move;
    color: @muted-color;
    font-size: 20px;
}

.Flagrow-AffiliationLinks-Rule-Body {
    background-color: @control-bg;
    padding: 10px;
}
